body {
  background-color: #f9f7fe;
  font-family: Roboto, sans-serif;
}

.weather-app {
  max-width: 600px;
  background: white;
  display: block;
  margin: 45px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
